.chk-login-state::before {
    background: url(../images/check-box-color.png) no-repeat 50% 0 / 22px;
}

.inp-id {
    border: none;
    width: 468px;
    margin-left: 2px;
    outline: 2px solid #F4492E;
    box-sizing: border-box;
    margin-bottom: 6px;
}

.inp-id:focus .notice {
    display: inherit;
}

.notice {
    font-size: 14px;
    color: #F4492E;
    margin-bottom: 10px;
    margin-left: 4px;
}