@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* reset */
body,
h1,
h2,
p {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 0;
    font: inherit;
    border: none;
    background: none;
    cursor: pointer;

}

img {
    vertical-align: bottom;
}

* {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}


/* 숨기기 */
.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/* css 시작 */

body {
    font-family: 'SpoqaHanSansNeo-Regular';
}

.wrap {
    width: 520px;
    height: 100%;
    margin: 10% auto;

    border-radius: 10px;
    border: 1px solid #C4C4C4;
    background: #FFF;

}

.login-title {
    color: #000;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 188px 18px;
    position: relative;
    border-bottom: 1px solid #C4C4C4;
}

.close {
    position: absolute;
    right: 24px;
    width: 16px;
    height: 16px;
    background: url(./images/close.png) no-repeat 0 0 / 16px;

}

.login {
    padding: 26px 24px 0;
}

.login .solve {
    font-size: 20px;
    padding-bottom: 24px;
}

.inp-id,
.inp-pw {
    width: 472px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 16px;
    box-sizing: border-box;
    border: 1px solid #C4C4C4;
    background: #FFF;
    position: relative;
}

.inp-id::placeholder,
.inp-pw::placeholder {
    color: #767676;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
}

.chk-wrap {
    height: 22px;
    margin: 6px 0 20px 0;
    line-height: 22px;
}

.chk-login-state::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(/images/check-box.png) no-repeat 50% 0 / 22px;
    vertical-align: top;
    margin-right: 8px;
    margin-left: 4px;
}

.chk-wrap:active .chk-login-state::before {
    background: url(/images/check-box-color.png) no-repeat 50% 0 / 22px;
}

.chk-login-state {
    color: #767676;

}

.join-find {
    color: #767676;
    font-size: 14px;
    text-align: center;
    margin: 10px 0 0 0;
    font-weight: 400;
    padding-bottom: 30px;
    border-bottom: 1px solid #C4C4C4;
    position: relative;

}

.join::after {
    content: '|';
    margin-left: 12px;
    margin-right: 12px;
}

.join-find::after {
    content: '또는';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -0.5em;
    transform: translateX(-50%);
    background-color: white;
    padding: 0 13px;

}


[class^='btn'] {
    width: 472px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #767676;
    font-size: 16px;
}

.btn-login {
    background-color: #2F80ED;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}



.social-wrap .btn-google {
    border: 1px solid #767676;
    background: url(./images/Google__G__Logo\ 1.png) no-repeat 12px 50% / 28px;
    margin-top: 29px;
}

.social-wrap .btn-facebook {
    border: 1px solid #2D9CDB;
    background: url(./images/facebook.png) no-repeat 12px 50% / 28px;
}

.social-wrap .btn-naver {
    border: 1px solid #00BF18;
    background: url(./images/naver-logo.png) no-repeat 12px 50% / 28px;
}

.social-wrap .btn-kakao {
    border: 1px solid #F2C94C;
    background: url(./images/message-circle.png) no-repeat 12px 50% / 28px;
    margin-bottom: 25px;
}