*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
}
.wrap{
    max-width: 1440px;
    margin: 0 auto;
}
#header {
    height: 90px;
    background-color: gold;
}

.main{
    max-width: 1440px;
    height: 1353px;
    background-color: #eee;
    display: grid;
    grid-template-areas: 
    "sec1 sec1 sec1 sec2"
    "sec1 sec1 sec1 sec3"
    "sec4 sec5 sec5 sec3"
    "sec4 sec6 sec7 sec8"
    ;
    gap: 32px;
    margin: 40px 45px 120px;
}

.sec1{
    background-color: darkblue;
    grid-area: sec1;
}

.sec2{
    background-color: darkcyan;
    grid-area: sec2;

}

.sec3{
    background-color: darkgoldenrod;
    grid-area: sec3;

}
.sec4{
    background-color: darkgreen;
    grid-area: sec4;

}
.sec5{
    background-color: darkkhaki;
    grid-area: sec5;

}
.sec6{
    background-color: darkmagenta;
    grid-area: sec6;

}
.sec7{
    background-color: darkorange;
    grid-area: sec7;

}
.sec8{
    background-color: darkorchid;
    grid-area: sec8;

}

#footer{
    height: 160px;
    background-color: #333;
}

@media screen and (max-width: 768px){
    .main {
            max-width: 768px;
            height: 2013px;
            background-color: #eee;
            display: grid;
            grid-template-areas:
                "sec1 sec1"
                "sec1 sec1"
                "sec4 sec6"
                "sec4 sec7"
                "sec3 sec3"
                "sec8 sec2"
            ;
            gap: 15px;
            margin: 40px 20px 120px;
        }
    
        .sec1 {
            background-color: darkblue;
            grid-area: sec1;
        }
    
        .sec2 {
            background-color: darkcyan;
            grid-area: sec2;
    
        }
    
        .sec3 {
            background-color: darkgoldenrod;
            grid-area: sec3;
    
        }
    
        .sec4 {
            background-color: darkgreen;
            grid-area: sec4;
    
        }
    
        .sec5 {
            background-color: darkkhaki;
            grid-area: sec5;
    
        }
    
        .sec6 {
            background-color: darkmagenta;
            grid-area: sec6;
    
        }
    
        .sec7 {
            background-color: darkorange;
            grid-area: sec7;
    
        }
    
        .sec8 {
            background-color: darkorchid;
            grid-area: sec8;
    
        }
}